Resources:
  GuestbookTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema: 
        HashKeyElement:
          AttributeName: "timestamp"
          AttributeType: "N"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "nobody@us-robotics.net"
  "aws:elasticbeanstalk:application:environment":
    "DYDB_TABLENAME": '`{ "Ref" : "GuestbookTable"}`'
    "AWS_REGION": '`{ "Ref" : "AWS::Region"}`'
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/css/": "css/"
    "/imgs/": "imgs/"
